@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared settings */
.text-center {
    text-align: center;
}

span {
    color: #FF0000;
}

.black {
    color: #070211;
}

.merriweather {
    font-family: "Merriweather", serif;
}

.inter {
    font-family: "Inter";
}

/* banner section style starts here */

.banner-section {
    max-width: 1300px;
    min-height: 600px;
    margin: 20px auto;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p,
h1 {
    color: #FFFFFF;
}

.banner-content p {
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}


/* 65% section starts here */
.sixty-five {
    max-width: 800px;
    height: 805px;
    margin: 90px auto;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.img-container {
    width: 802px;
    height: 500px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

/* Midnight party section */
.midnight-party-container {
    max-width: 1300px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../images/vector.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.leftside-content {
    width: 65%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.leftside-heading {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
}

.leftside-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 150px;
}

.rightside-content {
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midnight-button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 50px;
    padding-right: 320px;
}


/* Address section */
.address-container {
    max-width: 1300px;
    min-height: 400px;
    margin: 120px auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.address-description {
    margin: 150px auto;
}


.place {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 40px;

}

.join-btn {
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}


/* holiday section design */
.holiday-section-container {
    max-width: 1300px;
    height: 986.07px;
    margin: 100px auto;
    position: relative;
}

.holiday-text-container {
    width: 1068px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.holiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
}

.solid-color {
    width: 1300px;
    height: 229px;
    background-image: url("../images/rectangle_2.png");
    position: absolute;
    top: 77%;
}

.gift-box {
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top: 10%;
}

.girl-container {
    width: 429px;
    height: 433px;
    position: relative;
    left: 25.9%;
    bottom: 5.6%;
}

.discount {
    position: absolute;
    bottom: 30%;
    left: 50%;
    z-index: 1;
}

/* holiday section design ends*/

/* Portfolio style */
.portfolio-container {
    width: 1300px;
    height: 1163px;
    margin: 120px auto;
}

.portfolio-container span {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.portfolio-container h1 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    width: 566px;
}

.portfolio-container p {
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 890px;
}

.portfolio-img-items{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.item {
    width: 424px;
    height: 450px;
}

.item img {
    width: 100%;
    height: 100%;
}

/* Portfolio style ends */